<div id="home">
    <h2 class="text-center">Pokétrainer</h2>

    <h3 class="text-capitalize text-center">{{pokemon.currentPokemon.species.name}}{{getForm()}}</h3>
    <div id="image-box" class="text-center">
        <img src="{{getSprite()}}" alt="{{pokemon.currentPokemon.species.name}} sprite"
         class="img" style="max-width: 348px; max-height: 250px;">
        <div id="spinner" class="spinner-border text-primary hidden" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="row m-auto" style="max-width: 348px;">
        <div class="col-4 mb-1 px-1"  ng-repeat="t in pokemon.types">
            <button class="btn btn-lg w-100 type-btn type-{{t.index}}"
                    ng-click="guessType(t.index)" ng-disabled="typesGuessed.includes(t.index)">{{t.name}}</button>
        </div>
    </div>
    <div class="text-center"><strong>Score: {{pokemon.totalCorrect}}/{{pokemon.totalGuesses}}</strong></div>
</div>
