<div id="home">
    <h2 class="text-center">Pokétrainer</h2>

    <h3 class="text-capitalize text-center">{{pokemon.currentPokemon.name}}</h3>
    <div class="text-center">
        <img src="{{pokemon.currentPokemon.sprites.front_default}}" alt="{{pokemon.currentPokemon.name}} sprite">
    </div>


    <div class="container" >
        <div class="row" style="max-width: 348px;">
            <div class="col-4 mb-2" ng-repeat="t in pokemon.types">
                <button class="btn btn-lg type-btn type-{{t.index}}" ng-click="guessType(t.index)" ng-disabled="typesGuessed.includes(t.index)">{{t.name}}</button>
            </div>
        </div>
        <div><strong>Score: {{pokemon.totalCorrect}}/{{pokemon.totalGuesses}}</strong></div>
    </div>
</div>
