<div id="home">
    <h2 class="text-center">Pokétrainer</h2>

    <h3 class="text-capitalize text-center">{{pokemon.currentPokemon.name}}</h3>
    <div class="text-center">
        <img src="{{getSprite()}}" alt="{{pokemon.currentPokemon.name}} sprite"
         class="img" style="max-width: 348px; max-height: 250px;">
    </div>

    <div class="row m-auto" style="max-width: 348px;">
            <button class="btn btn-lg col-4 m-1 type-btn type-{{t.index}}" ng-repeat="t in pokemon.types"
                    ng-click="guessType(t.index)" ng-disabled="typesGuessed.includes(t.index)">{{t.name}}</button>
    </div>
</div>
